body {
  text-align: center;
  font-family: "Helvetica",sans-serif;
}

.header {
  background-image: url("../resources/the-flatiron-building.png");
  background-position: center;
  background-size: auto;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.btn-nav {
  font-size: 18px;
  color: white;
  font-size: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#two {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
